body {
  background-image: url('..//assets/images/fondo.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

img {
 padding: 50px;
 background-color: white;
 border-radius: 50px;
}