* {
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
}

.p-btn {
margin: 0 1rem;
}

.w-70 {
  width: 70%;
}

.bg-pink {
  background-color: #fadad4;
}

.text-categorie {
  font-size: 1rem !important;
}

.btn-size {
  width: 25rem;
}

.text-categorie-a {
  font-size: 0.75rem !important;
}