<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="icon" href="../public/assets/images/logo.png">
  <title>Cothes</title>
  <link rel="stylesheet" href="../public/css/home.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../public/assets/images/logo.png" class="size-img" alt="girls" title="girl room">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse right" id="navbarNavDropdown">
      <span>
        <ul class="navbar-nav">
          <li class="nav-item word-space active">
            <a class="nav-link" href="#">Girls
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item word-space active">
            <a class="nav-link" href="#">Mens</a>
          </li>
          <li class="nav-item word-space active">
            <a class="nav-link" href="#">Oferts</a>
          </li>
          <li class="nav-item word-space dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
    </div>
  </nav>

  <section>
    <figure>
      <img src="../public/assets/images/img6.jpg" class="img-port2" />
      <img src="../public/assets/images/img4.jpg" class="img-port2" />
    </figure>
    <figure>
      <img src="../public/assets/images/img10.jpg" class="img-port2" />
      <img src="../public/assets/images/img11.jpg" class="img-port2" />
    </figure>
  </section>

  <section class="center">
    <figure class="snip1091 red center">
      <img class="section-img" src="../public/assets/images/img1.gif" alt="">
      <figcaption>
        <h2>Summer
          <span>Clothes</span>
        </h2>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1091 red">
      <img class="section-img" src="../public/assets/images/img1.gif" alt="">
      <figcaption>
        <h2>Summer
          <span>Clothes</span>
        </h2>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1091 green">
      <img class="section-img" src="../public/assets/images/img7.jpg" alt="">
      <figcaption>
        <h2>Annalee
          <span>Weis</span>
        </h2>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1091 blue">
      <img class="section-img" src="../public/assets/images/img7.jpg" alt="">
      <figcaption>
        <h2>Annalee
          <span>Weis</span>
        </h2>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1091 yellow">
      <img class="section-img" src="../public/assets/images/img4.jpg" alt="">
      <figcaption>
        <h2>Carmen
          <span>Glenn</span>
        </h2>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1091 red">
      <img class="section-img" src="../public/assets/images/img1.gif" alt="">
      <figcaption>
        <h2>Summer
          <span>Clothes</span>
        </h2>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1091 green">
      <img class="section-img" src="../public/assets/images/img7.jpg" alt="">
      <figcaption>
        <h2>Annalee
          <span>Weis</span>
        </h2>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1091 blue">
      <img class="section-img" src="../public/assets/images/img7.jpg" alt="">
      <figcaption>
        <h2>Annalee
          <span>Weis</span>
        </h2>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1091 yellow">
      <img class="section-img" src="../public/assets/images/img4.jpg" alt="">
      <figcaption>
        <h2>Carmen
          <span>Glenn</span>
        </h2>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1091 red">
      <img class="section-img" src="../public/assets/images/img1.gif" alt="">
      <figcaption>
        <h2>Summer
          <span>Clothes</span>
        </h2>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1091 red">
      <img class="section-img" src="../public/assets/images/img1.gif" alt="">
      <figcaption>
        <h2>Summer
          <span>Clothes</span>
        </h2>
      </figcaption>
      <a href="#"></a>
    </figure>
    <figure class="snip1091 red">
      <img class="section-img" src="../public/assets/images/img1.gif" alt="">
      <figcaption>
        <h2>Summer
          <span>Clothes</span>
        </h2>
      </figcaption>
      <a href="#"></a>
    </figure>
  </section>



  <!-- <footer>
    <div class="footer">
      <div id="button"></div>
      <div id="container">
        <div id="cont">
          <div class="footer_center">
            <h3>
              <img src="../public/assets/images/logo.png" class="size-img" alt="girls" title="girl room">THE GIRLS ROOM
              <img src="../public/assets/images/logo.png" class="size-img" alt="girls" title="girl room">
            </h3>
          </div>
        </div>
      </div>
    </div>
  </footer> -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="../public/js/app.js"></script>
</body>

</html>