<div class="center">
  <figure class="snip1091 red center">
    <img src="../public/assets/images/img1.jpg" alt="">
    <figcaption>
      <h2>Men's
      </h2>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1091 red">
    <img src="../public/assets/images/img6.jpg" alt="">
    <figcaption>
      <h2>Women's
      </h2>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1091 red">
    <img src="../public/assets/images/girls.jpg" alt="">
    <figcaption>
      <h2>Girls
      </h2>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1091 red">
    <img src="../public/assets/images/boys.jpg" alt="">
    <figcaption>
      <h2>Boys
      </h2>
    </figcaption>
    <a href="#"></a>
  </figure>
</div>