<div class="col-12">
  <div class="pos-f-t col-4" ng-repeat="(key, cat) in categories" style="float: left" ng-if="categories[ cat.id ].picture != null">
    <div class="col-12">
      <nav class="navbar navbar-light">
        <button class="navbar-toggler text-categorie btn-size bg-pink" type="button" data-toggle="collapse" 
          data-target="#navbarToggleExternalContent{{key}}" aria-controls="navbarToggleExternalContent{{key}}" 
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-shopping-bag"></i>  {{ cat.name }} ({{ cat.total_items_in_this_category }})
        </button>
      </nav>
      <div class="collapse" id="navbarToggleExternalContent{{key}}">
        <div class="bg-pink text-categorie p-4">
          <ul>
            <li ng-repeat="p in categories[ cat.id ].list.results">
              <a class="text-categorie-a" href="javascript:;">{{ p.title }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
      <img ng-src="{{ categories[ cat.id ].picture }}" height="300px">
    </div>
  </div>
</div>