<div class="bg-pink text-center">
  <img src="../public/assets/images/fondo.gif" class="w-70" alt="">
</div>
<div class="bg-pink text-center d-block d-sm-none">
  <img src="../public/assets/images/fondomovil-2.gif" class="w-70" alt="">
</div>
+
<footer>
  <div class="footer">
    <div id="button"></div>
    <div id="container">
      <div id="cont">
        <div class="footer_center">
          <h3>
            <img src="../public/assets/images/logo.png" width="90" height="50" alt="girls" title="girl room">THE GIRLS ROOM
            <img src="../public/assets/images/logo.png" width="90" height="50" alt="girls" title="girl room"> 
          </h3>
        </div>
      </div>
    </div>
  </div>
</footer>