<section class="container margin">
  <div class="row">
    <div class="col-md-8">
      <div class="card card-default">
        <div class="card-body">
          <div class="row">
            <!-- BEGIN PRODUCTS -->
            <div class="col-md-4 col-sm-6 padding">
              <div class="sc-product-item thumbnail">
                <img data-name="product_image" class="img-clothes" src="../public/assets/images/image1.jpg" alt="...">
                <div class="caption">
                  <h4 data-name="product_name">Primavera Ragazza</h4>
                  <p data-name="product_desc">Primavera Ragazza di Stile del Blu Marino Del Vestito Vestido Sailor Collare Del Gatto Del Ricamo Plus
                    Size Vestidos Mori Ragazza Bella Abbigliamento
                    <a href="#"> #primrose</a>
                  </p>
                  <hr class="line">

                  <div>
                    <div class="form-group">
                      <label>Size: </label>
                      <select name="product_size" class="form-control input-sm">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Color: </label>
                      <br />
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="red"> red
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="blue"> blue
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="green"> green
                      </label>
                      <div class="form-group2">
                        <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                      </div>
                    </div>
                    <strong class="price pull-left">US $29.98</strong>

                    <input name="product_price" value="2990.50" type="hidden" />
                    <input name="product_id" value="12" type="hidden" />
                    <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 padding">
              <span class="sc-product-item thumbnail">
                <img data-name="product_image" class="img-clothes" src="../public/assets/images/image2.jpg" alt="...">
                <div class="caption">
                  <h4 data-name="product_name">Solid Color Straight Dress</h4>
                  <p data-name="product_desc">Get on the frill trend with this bell sleeve dress. Pair with block heel ankle boots to finish the look</p>
                  <hr class="line">
                  <div>
                    <div class="form-group">
                      <label>Size: </label>
                      <select name="product_size" class="form-control input-sm">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Color: </label>
                      <br />
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="red"> red
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="blue"> blue
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="green"> green
                      </label>
                      <div class="form-group2">
                        <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                      </div>
                    </div>
                    <strong class="price pull-left">US $42,400</strong>

                    <input name="product_price" value="5435.50" type="hidden" />
                    <input name="product_id" value="145" type="hidden" />
                    <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                  </div>
                </div>
              </span>
            </div>
            <div class="col-md-4 col-sm-6 padding">
              <div class="sc-product-item thumbnail">
                <img data-name="product_image" class="img-clothes" src="../public/assets/images/image3.jpg" alt="...">
                <div class="caption">
                  <h4 data-name="product_name">Winter Dresses</h4>
                  <p data-name="product_desc">Winter Dresses For Womens 2017 Long Sleeve Dress Solid Black Gray Slim Ladies O-Neck Fashion Pretty Women
                    False Two Pieces Clothes</p>

                  <hr class="line">

                  <div>
                    <div class="form-group">
                      <label>Size: </label>
                      <select name="product_size" class="form-control input-sm">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Color: </label>
                      <br />
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="red"> red
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="blue"> blue
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="green"> green
                      </label>
                      <div class="form-group2">
                        <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                      </div>
                    </div>
                    <strong class="price pull-left">US $15.78 - 17.94 </strong>

                    <input name="product_price" value="5435.50" type="hidden" />
                    <input name="product_id" value="145" type="hidden" />
                    <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 padding">
              <span class="sc-product-item thumbnail">
                <img data-name="product_image" class="img-clothes" src="../public/assets/images/image4.jpg" alt="...">
                <div class="caption">
                  <h4 data-name="product_name">Summer Pregnant Clothes Maternity</h4>
                  <p data-name="product_desc">Summer Pregnant Clothes Maternity Clothing Women Maternity Dress Casual Knitted Lace Clothes For Pregnant
                    Women❤
                  </p>

                  <hr class="line">
                  <div>
                    <div class="form-group">
                      <label>Size: </label>
                      <select name="product_size" class="form-control input-sm">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Color: </label>
                      <br />
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="red"> red
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="blue"> blue
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="green"> green
                      </label>
                      <div class="form-group2">
                        <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                      </div>
                    </div>
                    <strong class="price pull-left">US $16.79 - 18.26</strong>

                    <input name="product_price" value="435.50" type="hidden" />
                    <input name="product_id" value="154" type="hidden" />
                    <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                  </div>
                </div>
              </span>
            </div>

            <div class="col-md-4 col-sm-6 padding">
              <span class="sc-product-item thumbnail">
                <img data-name="product_image" class="img-clothes" src="../public/assets/images/image5.jpg" alt="...">
                <div class="caption">
                  <h4 data-name="product_name">Sling BodySuit Strapless</h4>
                  <p data-name="product_desc">Summer Women Clothes Sling BodySuit Strapless Conjoined Twin Shorts Waist Thin Flounces Female JumpSuits
                    Slim.
                  </p>

                  <hr class="line">
                  <div>
                    <div class="form-group">
                      <label>Size: </label>
                      <select name="product_size" class="form-control input-sm">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Color: </label>
                      <br />
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="red"> red
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="blue"> blue
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="green"> green
                      </label>
                      <div class="form-group2">
                        <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                      </div>
                    </div>
                    <strong class="price pull-left">US $9.67</strong>

                    <input name="product_price" value="3410.00" type="hidden" />
                    <input name="product_id" value="155" type="hidden" />
                    <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                  </div>
                </div>
              </span>
            </div>

            <div class="col-md-4 col-sm-6 padding">
              <span class="sc-product-item thumbnail">
                <img data-name="product_image" class="img-clothes" src="../public/assets/images/image6.jpg" alt="...">
                <div class="caption">
                  <h4 data-name="product_name">Blue Denim Women 2018 </h4>
                  <p data-name="product_desc">Blue Denim Women 2018 Summer Brand Slim Casual Cotton Plus Size Women Shorts de cintura alta Jeans Short
                    Pants Fashion Color.</p>
                  <hr class="line">
                  <div>
                    <div class="form-group">
                      <label>Size: </label>
                      <select name="product_size" class="form-control input-sm">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Color: </label>
                      <br />
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="red"> red
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="blue"> blue
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="green"> green
                      </label>
                      <div class="form-group2">
                        <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                      </div>
                    </div>
                    <strong class="price pull-left">US $ 10.13</strong>

                    <input name="product_price" value="5435.50" type="hidden" />
                    <input name="product_id" value="145" type="hidden" />
                    <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                  </div>
                </div>
              </span>
            </div>

            <div class="col-md-4 col-sm-6 padding">
              <span class="sc-product-item thumbnail">
                <img data-name="product_image" class="img-clothes" src="../public/assets/images/image7.jpg" alt="...">
                <div class="caption">
                  <h4 data-name="product_name">Summer Chiffon Pants</h4>
                  <p data-name="product_desc">New Cheap Women Summer Chiffon Pants Women Clothes Fashion Casual Wide Leg Pants Spring Autumn Pants Trousers
                  </p>
                  <hr class="line">
                  <div>
                    <div class="form-group">
                      <label>Size: </label>
                      <select name="product_size" class="form-control input-sm">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Color: </label>
                      <br />
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="red"> red
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="blue"> blue
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="green"> green
                      </label>
                      <div class="form-group2">
                        <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                      </div>
                    </div>
                    <strong class="price pull-left">US $12.85</strong>

                    <input name="product_price" value="5435.50" type="hidden" />
                    <input name="product_id" value="145" type="hidden" />
                    <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                  </div>
                </div>
              </span>
            </div>

            <div class="col-md-4 col-sm-6 padding">
              <span class="sc-product-item thumbnail">
                <img data-name="product_image" class="img-clothes" src="../public/assets/images/image8.jpg" alt="...">
                <div class="caption">
                  <h4 data-name="product_name">Camicetta di lino</h4>
                  <p data-name="product_desc">Plus Size donne di estate camicetta di lino top donne 2018 camicia bianca donne cotone a maniche corte
                    signore camicette camisetas mujer blusas</p>
                  <hr class="line">
                  <div>
                    <div class="form-group">
                      <label>Size: </label>
                      <select name="product_size" class="form-control input-sm">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Color: </label>
                      <br />
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="red"> red
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="blue"> blue
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="green"> green
                      </label>
                      <div class="form-group2">
                        <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                      </div>
                    </div>
                    <strong class="price pull-left">US $8.49</strong>

                    <input name="product_price" value="5435.50" type="hidden" />
                    <input name="product_id" value="145" type="hidden" />
                    <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                  </div>
                </div>
              </span>
            </div>

            <div class="col-md-4 col-sm-6 padding">
              <span class="sc-product-item thumbnail">
                <img data-name="product_image" class="img-clothes" src="../public/assets/images/image9.jpg" alt="...">
                <div class="caption">
                  <h4 data-name="product_name">Camicetta Shirt Manica</h4>
                  <p data-name="product_desc">Donne di Estate Top Fashion Lace Crochet Hollow Camicetta Shirt Manica A Pipistrello Patchwork Casuale
                    Nappa Blusas Oversize❤.</p>
                  <hr class="line">
                  <div>
                    <div class="form-group">
                      <label>Size: </label>
                      <select name="product_size" class="form-control input-sm">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Color: </label>
                      <br />
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="red"> red
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="blue"> blue
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="product_color" value="green"> green
                      </label>
                      <div class="form-group2">
                        <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number">
                      </div>
                    </div>
                    <strong class="price pull-left">US $9.58</strong>

                    <input name="product_price" value="5435.50" type="hidden" />
                    <input name="product_id" value="145" type="hidden" />
                    <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                  </div>
                </div>
              </span>
            </div>
            <!-- END PRODUCTS -->
          </div>
        </div>
      </div>
    </div>

    <aside class="col-md-4">
      <!-- Paypal Cart submit form -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="POST">
        <!-- SmartCart element -->
        <div id="smartcart"></div>
        <!-- Paypal required info, Please update based on your details -->
        <input name="business" value="dayamllerenacastro@gmail.com" type="hidden">
        <input name="currency_code" value="USD" type="hidden">
        <input name="cmd" value="_cart" type="hidden">
        <input name="upload" value="1" type="hidden">
      </form>
    </aside>
  </div>
</section>