<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="card-deck cl-text p-card">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body black-text">
            <h5 class="card-title">Card title</h5>
            <p class="card-text black-text">precio</p>
          </div>
          <div class="card-footer bg-dark">
            <div class="p-btn">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fas fa-cart-plus"></i>
              </button>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fab fa-cc-paypal"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>